/* .fixedElement {
    float: right;

} */
/* table{
    border-radius: 2px solid #a8b7c7;
    border: 2px solid #a8b7c7;
    background-color: #eef1f6;
    
  }
  th{
    padding-left: 4%;
    padding-top: 2%;
  }
.sp1{
    padding-left: 3%;
}
.sp2{
    padding-left: 33%;
}
.sp3{
  padding-left: 37%;
} */